* {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

body {
    background: #eeeeee;
    margin: 0;
    color: #333333;
    font-family: "宋体";
    padding-bottom: 70px;
    height: 100%;

}

div {
    /*height: 100%;*/
}

.align-center {
    text-align: center;
}

.start-container {
    padding: 0;
    margin: 25px auto;
    height: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
}

.zg {
    height: 100%;
    width: 100%;
    top: -348px;
    position: relative;

}

.background-color-eee {
    background-color: #eee;
}

/*#radar {*/
/*width: 250px;*/
/*background: linear-gradient(#333, #111);*/
/*box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5), inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);*/
/*padding: 14px;*/
/*margin: 0 auto;*/
/*border-radius: 100%;*/
/*}*/

.start {
    z-index: 1;
    padding: 0px;
    position: relative;
    top: -67%;
    margin: auto auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: #3787f8;
    /* background-color: #ffd141; */
    /*box-shadow: 0px 0px 10px 0px #000;*/
    cursor: pointer;
}

.scroll {
    animation: spin 6s linear infinite;
}

.start:hover {
    box-shadow: 0px 0px 22px 0px #000;
}

.start span {
    display: block;
    font-weight: 800;
    color: #fff;
    padding: 40% 0;
}

/*@keyframes spin {*/
/*0% {*/
/*transform: rotate(-360deg);*/
/*}*/
/*100% {*/
/*transform: rotate(0deg);*/
/*}*/
/*}*/

.check-item {
    border-bottom: 1px solid #b2b2b2;
    margin: 5px 10px;
}

.check-item span {
    border-radius: 50%;
    float: right;
}

.check-subItem {
    /*border-bottom: 1px solid #b2b2b2;*/
    margin: 5px 20px;
}

.check-subItem span {
    float: right;
}

.red {
    color: red;
}

.green {
    color: #39ff82;
}

.yellow {
    color: yellow;
}

.grey {
    color: grey;
}

.radar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: #0C840C 0 0 0 1px;
    position: relative;
    top: 0px;
    margin: auto auto;
}

.scroll-radar {
    animation: scan 5s linear infinite;
    /*animation-name: scan;*/
    /*animation-duration: 5s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
}

.laserLine {
    display: none;
    width: 150px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px;
    transform-origin: 150px 150px;
}

.laserLineInset {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    background-image: -webkit-linear-gradient(-30deg, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0), rgb(5, 113, 1) 99%);
    clip: rect(0, 150px, 300px, 0px);
    transform: rotate(135deg);
}

.radarIn {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    margin: -75px;
    box-shadow: #0C840C 0 0 0 1px;
}

.lineX {
    width: 300px;
    height: 1px;
    background-color: #0C840C;
    position: absolute;
    top: 50%;
}

.lineY {
    width: 1px;
    height: 300px;
    background-color: #0C840C;
    position: absolute;
    left: 50%;
}

@keyframes scan {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}