* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 300px;
    width: 180px;
}

.logind {
    display: none;
}

.nologin {
    display: none;
}

.logind span {
    margin: 5px 5px;
}

.nologin span {
    margin: 5px 5px;
}