/**
 * Created by caohongming on 2016/10/10.
 */
* {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

body {
    background: #eeeeee;
    margin: 0;
    color: #333333;
    font-family: "宋体";
    height: 100%;
    bottom: 0;
}

div {
    /*height: 100%;*/
}

.align-center {
    text-align: center;
}

.check-item {
    margin: 5px 10px;
}

.check-item span {
    font-size: 3px;
}

.status-contianer div div span {
    font-size: 3px;
}

.red {
    color: red;
}

.green {
    color: #39ff82;
}

.yellow {
    color: yellow;
}

.header {
    margin: 5px auto;
}

.content {
    padding: 5px;
}

.content ul {
    overflow: auto;
    border-radius: 4px;
    height: 500px;
    border: 1px solid #b2b2b2;
}

.message {
    list-style: none;
}

.message li {
    padding: 0px;
}

.message li span {
    padding-left: 5px;
    font-size: 3px;
}

.settings-container {
    height: 493px;
    display: none;
}

.content {
    margin-bottom: 40px;
}

.addIpConfig-container {
    height: 254px;
}

.ignoreIpConfig-container {
    height: 254px;
}

.status-contianer {
    /*border: 1px solid red;*/
}