.content{
	width: 800px;
	height: 200px;
	word-break:break-all;
	text-align: left;
	vertical-align: text-top;
}
textarea{
	width: 800px;
	height: 200px;
}
td{
	border: 1px solid grey;
}
table{
	border-collapse: collapse;
}
.suc-info{
	color: #0584ff;
	font-weight: bolder;
	display: none;
}
.icon{
	width: 20px;
	height: 20px;
}
.help-tr{
	display: none;
}